<app-header></app-header>

<!-- ----------------------------------womens collection------------------------------------ -->
<ion-content *ngIf="womenscategory">
  <div class="full-content">
    <h1 class="title">{{ this.res }}'s Collection</h1>
    <ion-row class="favorite-items">
      <ion-col size="6" class="ion-text-left">
        <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
          <img
            src="../../assets/women-blazzer1.jpg"
            (click)="goToProductDetail()"/>
            <p class="item-name"><b>$30.00 &nbsp;&nbsp;Shirt</b></p>
          </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-text-left">
        <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
          <img
            src="../../assets/women-blazzer2.jpg"
            (click)="goToProductDetail()"/>
            <p class="item-name"><b>$30.00 &nbsp;&nbsp;Shirt</b></p>
          </ion-card>
          <h6></h6>
      </ion-col>
      <ion-col size="6" class="ion-text-left">
        <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
          <img
            src="../../assets/women-blazzer1.jpg"
            (click)="goToProductDetail()"/>
            <p class="item-name"><b>$30.00 &nbsp;&nbsp;Shirt</b></p>
          </ion-card>
        </ion-col>
      <ion-col size="6" class="ion-text-left">
        <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
          <img
            src="../../assets/women-blazzer2.jpg"
            (click)="goToProductDetail()"/>
            <p class="item-name"><b>$30.00 &nbsp;&nbsp;Shirt</b></p>
          </ion-card>
        </ion-col>
      <ion-col size="6" class="ion-text-left">
        <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
          <img
            src="../../assets/women-blazzer1.jpg"
            (click)="goToProductDetail()"/>
            <p class="item-name"><b>$30.00 &nbsp;&nbsp;Shirt</b></p>
          </ion-card>
        </ion-col>
      <ion-col size="6" class="ion-text-left">
        <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
          <img
            src="../../assets/women-blazzer1.jpg"
            (click)="goToProductDetail()"/>
            <p class="item-name"><b>$30.00 &nbsp;&nbsp;Shirt</b></p>
          </ion-card>
        </ion-col>
    </ion-row>
  </div>
 
</ion-content>
<!-- -----------------------------------mens collection---------------------------------------- -->
<ion-content *ngIf="menscategory">
  <h1 class="title">{{ this.res }}'s Collection</h1>
  <ion-row class="favorite-items">
    <ion-col size="6" class="ion-text-left">
      <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
        <img src="../../assets/tshirt.png" (click)="goToProductDetail()"/>
      </ion-card>
      <p class="item-name"><b>$34.00 &nbsp;&nbsp;men t-shirt</b></p>
    </ion-col>
    <ion-col size="6" class="ion-text-left">
      <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
        <img src="../../assets/tshirt2.jpg" (click)="goToProductDetail()"/>
      </ion-card>

      <p class="item-name"><b>$34.00 &nbsp;&nbsp;men t-shirt</b></p>
      <h6></h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left">
      <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
        <img src="../../assets/tshirt2.jpg" (click)="goToProductDetail()"/>
      </ion-card>

      <p class="item-name"><b>$34.00 &nbsp;&nbsp;men t-shirt</b></p>
    </ion-col>
    <ion-col size="6" class="ion-text-left">
      <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
        <img src="../../assets/tshirt.png" (click)="goToProductDetail()"
      />
    </ion-card>

      <p class="item-name"><b>$34.00 &nbsp;&nbsp;men t-shirt</b></p>
    </ion-col>
    <ion-col size="6" class="ion-text-left">
      <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
        <img src="../../assets/tshirt.png" (click)="goToProductDetail()"/>
      </ion-card>

      <p class="item-name"><b>$34.00 &nbsp;&nbsp;men t-shirt</b></p>
    </ion-col>
    <ion-col size="6" class="ion-text-left">
      <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
        <img src="../../assets/tshirt2.jpg" (click)="goToProductDetail()"/>
      </ion-card>

      <p class="item-name"><b>$34.00 &nbsp;&nbsp;men t-shirt</b></p>
    </ion-col>
  </ion-row>
</ion-content>
<!-- ---------------------------------------kids collection------------------------------------------------- -->
<ion-content *ngIf="kids">
  <h1 class="title">{{ this.res }} Collection</h1>
  <ion-row class="favorite-items">
    <ion-col size="6" class="ion-text-left">
      <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
        <img src="../../assets/Kids-Cartoon-T-Shirt.jpg.jpg" (click)="goToProductDetail()"/>
      </ion-card>
      <p class="item-name"><b>$34.00 &nbsp;&nbsp;men t-shirt</b></p>
    </ion-col>
    <ion-col size="6" class="ion-text-left">
      <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
        <img src="../../assets/Kids-Long-Sleeves-T-Shirt.jpg.jpg" (click)="goToProductDetail()"/>
      </ion-card>

      <p class="item-name"><b>$34.00 &nbsp;&nbsp;men t-shirt</b></p>
      <h6></h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left">
      <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
        <img src="../../assets/Kids-Long-Sleeves-T-Shirt.jpg.jpg" (click)="goToProductDetail()"/>
      </ion-card>
      <p class="item-name"><b>$34.00 &nbsp;&nbsp;men t-shirt</b></p>
    </ion-col>
    <ion-col size="6" class="ion-text-left">
      <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
        <img src="../../assets/Kids-Cartoon-T-Shirt.jpg.jpg" (click)="goToProductDetail()"/>
      </ion-card>

      <p class="item-name"><b>$34.00 &nbsp;&nbsp;men t-shirt</b></p>
    </ion-col>
    <ion-col size="6" class="ion-text-left">
      <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
        <img src="../../assets/kid1.png" (click)="goToProductDetail()"/>
      </ion-card>

      <p class="item-name"><b>$34.00 &nbsp;&nbsp;men t-shirt</b></p>
    </ion-col>
    <ion-col size="6" class="ion-text-left">
      <ion-card class="shadow-sm p-3 mb-5 bg-white rounded">
        <img src="../../assets/kid3.png" (click)="goToProductDetail()"/>
      </ion-card>

      <p class="item-name"><b>$34.00 &nbsp;&nbsp;men t-shirt</b></p>
    </ion-col>
  </ion-row>
</ion-content>
