<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <button style="background: white;" ion-button icon-only (click)="back()"> -->
        <ion-icon class="h-icon" name="chevron-back-outline" (click)="back()"></ion-icon>
      <!-- </button> -->
    </ion-buttons>

    <ion-buttons slot="end" large>
      <ion-icon class="h-icon" name="cart-sharp"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" large>
      <ion-icon class="h-icon" name="notifications-sharp"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background: linear-gradient(to top, #9e9e9e33 0%, white 100%);">
    <ion-row class="img">
      <ion-col size="12">
        <ion-slides pager="true" class="product-slider">
          <ion-slide>
            <img src="../../assets/tshirt.png" />
          </ion-slide>
          <ion-slide>
            <img src="../../assets/tshirt.png" />
          </ion-slide>
          <ion-slide>
            <img src="../../assets/tshirt.png" />
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </div>

  <div class="product">
    <ion-row>
      <p class="title">Classic Black Denim Tshirt</p>
    </ion-row>

    <ion-row class="ratings">
      <ion-icon class="star" name="star-sharp" small></ion-icon>
      <ion-icon class="star" name="star-sharp" small></ion-icon>
      <ion-icon class="star" name="star-sharp" small></ion-icon>
      <ion-icon class="star" name="star-sharp" small></ion-icon>
      <span class="ratings-count">440 ratings</span>
    </ion-row>
    <p style="margin-top: 7px;">
      <span class="off-percent">47% off</span>
      <span class="actual-price">1500</span>
      <span class="discount-price">{{amount|currency:'INR':'symbol':'3.0'}}</span>
    </p>
  </div>

  <div class="color">
    <ion-row>
      <h3 class="headings">Colors</h3>
    </ion-row>
    <ion-row>
      <a style="background: lightslategray;" class="icon-circle"></a>
      <a style="background: lightblue;" class="icon-circle"></a>
      <a style="background: lightgrey;" class="icon-circle"></a>
      <a style="background: lightpink;" class="icon-circle"></a>
      <a style="background: lightsalmon;" class="icon-circle"></a>
    </ion-row>
  </div>

  <div>
    <ion-row>
      <h3 class="headings">Colors</h3>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-card class="size">
          <ion-card-content class="content-sharp">S
            <!-- <ion-text class="size-detail">S</ion-text> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card class="size">
          <ion-card-content class="content-sharp">M
            <!-- <ion-text class="size-detail">M</ion-text> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card class="size">
          <ion-card-content class="content-sharp">L
            <!-- <ion-text class="size-detail">L</ion-text> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card class="size">
          <ion-card-content class="content-sharp">XL
            <!-- <ion-text class="size-detail">XL</ion-text> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card class="size">
          <ion-card-content class="content-sharp">XXL
            <!-- <ion-text class="size-detail">XL</ion-text> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-row class="description">
      <h3 class="headings">Description</h3>
    </ion-row>
    <ion-row>
      <ion-text class="desc">It should not only describe the t-shirt.
        Rather, it should tell a compelling story about why the t-shirt is
        worth buying.
      </ion-text>
    </ion-row>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment color="white">
      <ion-segment-button style="color: #000000de;" (click)="goToCart()">
        Add To Cart
      </ion-segment-button>
      <ion-segment-button (click)="buyNow()" style="background: #e97109; color: beige;">
        Buy Now
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>