.container {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.page-header h1 {
    margin-top: 0;
    color: #e97109d6
}

.page-header h4{
    color: rgba(0, 0, 0, 0.409);
}

.button-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

ion-header p {
    color: #7bb4c2;
    margin-right: 20px;
}

.main-button {
    /* --background: linear-gradient(45deg,
            rgb(255, 193, 7),
            rgb(248, 87, 31)); */
    --background: #e97109d6;
    box-shadow: 0px 20px 20px -17px rgb(248, 87, 31);
    position: relative;
    height: 50px;
    margin-bottom: 15px;
}

#skip {
    color: #e97109d6;
    margin-right: 10px;
}