<ion-content class="ion-padding ion-text-center">
  <p class="ion-text-right" id="skip" routerLink="/home/shop" >Skip</p>

  <div class="container">
    <div class="page-header">
      <h1 >Welcome to Aapl Market</h1>
      <!-- <h4>Explore Us</h4> -->
    </div>
    <img src="../../assets/welcome.png" />
    <div class="button-container">
      <ion-button expand="block" class="main-button" (click)="login()"  routerDirection="forward">Log in</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Signup</ion-button>
    </div>
  </div>
</ion-content>
