<app-header></app-header>

<ion-content>
  <ion-card class="main-card">
    <img
      alt="Silhouette of mountains"
      src="https://images.unsplash.com/photo-1528698827591-e19ccd7bc23d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
    />
  </ion-card>
  <ion-card class="content-sharp">
    <ion-card-header>
      <ion-card-title><b>Shop Name</b> </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col class="col-margin">Near SBI ATM, Main Road</ion-col>
        <ion-col class="col-size">
          <ion-card class="timestyle">
            <ion-card class="shop-time"
              ><ion-text>Open Now</ion-text>
            </ion-card>
            <b
              ><br />
              <p>9:00 AM to 10:00 PM</p></b
            >
          </ion-card>

          <!-- <ion-card  class="timestyle" *ngIf="showOpen" [ngClass]="{
          showopen: showOpen === true}"><b><span class="timetext">Open Now</span> <br><p>9:00 AM to 10:00 PM</p></b></ion-card>
        <ion-card  class="timestyle"  *ngIf="!showOpen"  [ngClass]="{
          showclose: showOpen === false}"><b>Closed <br><p>9:00 AM to 10:00 PM</p></b></ion-card> -->
        </ion-col>
      </ion-row>
    </ion-card-content></ion-card
  >

  <div class="title ion-padding">
    <h4><b>Categories</b></h4>
    <p>See all</p>
  </div>

  <div class="category-slider ion-padding-start">
    <ion-slides 
      [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
    >
      <ion-slide *ngFor="let category of categories">
        <ion-col (click)="productdetails(category.name)">
          <h5>{{ category.name }}</h5>
          <img src="{{ category.image }}" />
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-slides pager="true" class="product-slider" [options]="{ autoplay: {delay: 3500} }">
    <ion-slide class="slide" *ngFor="let offer of offers">
      <img class="image-slide" src={{offer.imgURL}} />
    </ion-slide>
  </ion-slides>

  <div class="title1 ion-padding">
    <h4><b>Trending</b></h4>
  </div>

  <!-- <ion-content> -->
    <!-- <h1 class="title">Favorite</h1> -->

    <ion-row class="favorite-items" (click)="goToProductDetail()">
      
        <ion-col *ngFor="let product of products"  class="ion-text-left">
          <ion-card class="shadow-sm p-3 mb-5 bg-white rounded product">
            <img src={{product.link}} />
            <p class="item-name"><b>$34.00 &nbsp;&nbsp;Women t-shirt</b></p>
          </ion-card>
        </ion-col>
      
    </ion-row>
  <!-- </ion-content> -->
</ion-content>
