.profile {
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #9e9e9ea3 0%, white 100%);
}

.circle img {
  /* background-color: white; */
  border-radius: 50%;
  /* border: 1px solid grey; */
  position: relative;
  display: inline-block;
  padding: 4px;
  width: 137px;
  height: 109px;
  /* margin-left: 98px; */
  margin-top: 29px;
}

.edit {
  position: absolute;
  margin-top: 110px;
  margin-left: -54px;
}

ion-card {
  border-radius: 25px;
  flex-direction: column;
}

.ion-toolbar {
  margin-left: 35px;
}

.chevron-down {
  margin-bottom: -8px;
}

ion-col h6 {
  margin-top: -8px;
  margin-left: 9px;
  color: #00000099;
}

ion-col h5 {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.783);
  font-weight: 700;
  margin-left: 32px;
}

ion-item h3 {
  font-size: 17px;
  padding-bottom: 12px;
}

.content-sharp {
  border-radius: 44px 44px 0px 0px;
  width: auto;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
}

ion-item {
  height: 76px;
}

ion-card-content {
  height: 60px;
}