<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <button style="background: white" ion-button icon-only (click)="back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
    </ion-buttons>

    <div class="addressContent">
      <ion-row>
        <ion-col></ion-col>
        <ion-col><h4>Profile</h4> </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>

    <!-- <ion-searchbar class="custom" placeholder="Search Your Product"></ion-searchbar> -->
   
    <ion-buttons slot="end" large>
      <ion-icon name="notifications-sharp"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="profile ">
  <ion-row>
    <ion-col></ion-col>
    <ion-col>  <span class="circle">
      <img src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?cs=srgb&dl=pexels-mohamed-abdelghaffar-771742.jpg&fm=jpg">
      <!-- <ion-icon class="edit" name="create-outline"></ion-icon> -->
      <h5>Johny Deo</h5>
      <h6>Pune,Maharashtra</h6>
    </span></ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-card class="content-sharp">
    <ion-card-content *ngFor="let items of profileSettings">
      <ion-item lines="none" class="item-inner">
        <ion-icon name={{items.icon}} slot="start"></ion-icon>
        <ion-label>
          <h3>{{items.displayName}}</h3>
         
        </ion-label>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-item>
    </ion-card-content>
    </ion-card>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>  
      <ion-tab-bar slot="top" color="light">  
        <ion-tab-button >  
          <ion-icon class="icon-focus" name="home-outline"></ion-icon>
        </ion-tab-button>  
          
        <ion-tab-button >  
          <ion-icon name="search-outline"></ion-icon>
        </ion-tab-button>  

        <ion-tab-button >  
          <ion-icon name="apps-outline"></ion-icon> 
        </ion-tab-button> 

        <ion-tab-button >  
          <ion-icon  name="cart-outline"></ion-icon>
        </ion-tab-button> 
        
        <ion-tab-button >  
          <ion-icon  name="person-outline"></ion-icon>
        </ion-tab-button> 
        
      </ion-tab-bar>  
    </ion-tabs>  
  </ion-toolbar>
</ion-footer>