<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <div class="addressContent">
      <ion-row>
        <ion-col>
          <ion-label class="yloc current-location" routerLink="../location">{{userLocation.description || 'Loading location...'}}
          </ion-label>
          <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </div>

    <!-- <ion-searchbar class="custom" placeholder="Search Your Product"></ion-searchbar> -->
    <ion-buttons slot="end" large>
      <ion-icon name="cart-sharp"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" large>
      <ion-icon name="notifications-sharp"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-shop-list></app-shop-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-toolbar">
      <ion-col> <ion-icon name="home-sharp"></ion-icon></ion-col>
      <ion-col> <ion-icon name="search-sharp"></ion-icon></ion-col>
      <ion-col><ion-icon name="apps-sharp"></ion-icon></ion-col>
      <ion-col><ion-icon name="cart-sharp"></ion-icon></ion-col>
      <ion-col><ion-icon name="person-circle-sharp"></ion-icon></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>