.address-btn {
    margin: 13px 0px 0px 5px;
    font-size: 12px;
    --border-color: #0000002b;
    color: #00000096;
}

.user-dtls {
    color: #000000a8;
    font-size: 14px;
}

.cart-count {
    background: #607d8b2b;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    margin: 8px 50px 0px 50px;
}

.img {
    width: 90px;
    margin-top: 17px;
    margin: 13px;
    /* background: aliceblue; */
}

img {
    max-width: 81%;
    margin: 11px 0px 0px 6px;
}

.img-card {
    background: aliceblue;
}

.img-dtl {
    margin: 10px;
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.card {
    background: aliceblue;
    border-radius: 44px;
    margin: 10px;
    height: 200px;
    width: max-content;
}

.qty-selector {
    margin: -33px 0px 0px -5px;
}

.card-name {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.card-price {
    margin-top: -11px;
}

.card-size {
    margin-top: -13px;
}

.card-color {
    margin-top: 4px;
}

.main-card {
    height: 115px;
}

.qty-btn {
    margin: -3px 0px 0px 2px;
    border-radius: 12px;
    font-size: 16px;
    width: 33px;
    font-weight: bold;
}

.qty-btn:hover {
    background: #e972095b;
}

.qty-count {
    font-size: 16px;
    margin: 10px;
}

.address {
    margin: 5px 0px 0px 0px;
}

.username {
    color: #000000e6;
    margin: 5px 0px 0px 0px;
}

hr {
    border: none;
    border-top: 1px dotted rgb(49, 48, 48);
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
}

.p-header {
    color: #000000c9;
    font-weight: 700;
    font-size: 17px;
    margin: 10px;
}

.sub-headers {
    font-size: 15px;
    margin: -13px 0px 10px 10px;
    color: #000000a6;
}

.cart-total,
.t-header {
    margin: -2px 0px -5px 4px;
    font-size: 14px;
    color: black;
    font-weight: 700;
}

.order-btn {
    display: inline-grid;
    margin: 5px 10px 10px 148px;
    font-size: 12px;
    font-weight: 600;
    --background: var(--ion-color-btn);
}

.cart-price {
    margin: 15px 0px 0px 0px;
    font-weight: 700;
    font-size: 17px;
}

ion-item-divider{
    background:#607d8b12;
}
