ion-badge{
    margin:  1px 0px 10px -11px;
    border-radius: 50%;
    border: 1px solid;
    top: -4px;
    position: absolute;
    min-width: 24px;
    right: -10px;
    font-size: 11px;
    line-height: 15px;
    --padding-end: 4px;
    --padding-start: 4px;
    letter-spacing: -0.1px;
}

/* ion-badge {
    background: #f70b0b;
    border-radius: 50%;
    border: 1px solid;
    top: -4px;
    position: absolute;
    min-width: 24px;
    right: -10px;
    font-size: 11px;
    line-height: 15px;
    --padding-end: 4px;
    --padding-start: 4px;
    letter-spacing: -0.1px;
}
ion-badge span {
    margin: 0;
} */
